.Outer_div_Project {
  height: auto;
  background-color: #1e1c1c;
  color: white;
  padding-top: 5vw;
}
.Inner_div {
  margin: auto;
  padding-bottom: 2vw;
  display: flex;
  width: 80vw;
  height: 15vw;
}
.left_div_inside_inner_div {
  background-size: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
}
.img_div_inside_left_div {
  width: 20vw;
}
.img_div_inside_left_div img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 2vw;
}
.right_div_inside_inner_div {
  width: 40vw;
  display: flex;
  gap: 1px;
  /* justify-content: center; */
  align-items: center;
}
.Outer_div_Project h2 {
  font-family: "Roboto";
}
.name_div_inside_inner_div {
  font-family: "Roboto";
  font-size: 1.5vw;
}
.description_div_inside_inner_div {
  /* font-family: "Nunito"; */
  font-family: "Roboto";
}
