.Outer_div_skill {
  padding-top: 8vw;
  height: 80vh;
  background-color: #1e1c1c;
  color: white;
}
.Skill_bar_outer_div {
  width: 25vw;
  margin: 2vw;
  /* margin-bottom: 4vw; */
}
.Skill_bar_div {
  border: 1px solid white;
  width: 100%;
  height: 1vw;
  border-radius: 2vw;
  transition: 0.5s ease-in;
}
#C {
  height: 1vw;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
}
#Cplus {
  height: 1vw;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  animation: cplus 3s ease-in;
  background-color: #5a4575;
}
#React {
  height: 1vw;
  border-top-left-radius: 2vw;
  animation: react 3s ease-in;
}
#JS {
  height: 1vw;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
}

#CSS {
  height: 1vw;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
}
#HTML {
  height: 1vw;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
}
#MYSQL {
  height: 1vw;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
}

[data-aos="C"] {
  width: 0px;
  background: #5a4575;
  transition-property: width;
  &.aos-animate {
    width: 80%;
  }
}
[data-aos="Cplus"] {
  width: 0px;
  background: #5a4575;
  transition-property: width;
  &.aos-animate {
    width: 60%;
  }
}
[data-aos="React"] {
  width: 0px;
  background: #5a4575;
  transition-property: width;
  &.aos-animate {
    width: 70%;
  }
}
[data-aos="JS"] {
  width: 0px;
  background: #5a4575;
  transition-property: width;
  &.aos-animate {
    width: 70%;
  }
}
[data-aos="CSS"] {
  width: 0px;
  background: #5a4575;
  transition-property: width;
  &.aos-animate {
    width: 80%;
  }
}
[data-aos="HTML"] {
  width: 0px;
  background: #5a4575;
  transition-property: width;
  &.aos-animate {
    width: 90%;
  }
}
[data-aos="MYSQL"] {
  width: 0px;
  background: #5a4575;
  transition-property: width;
  &.aos-animate {
    width: 40%;
  }
}
/* #first {
  height: 15vw;
  width: 40vw;
} */
.Skill_bar_outer_div {
  font-family: "Roboto", sans-serif;
}
.Outer_div_skill h2 {
  font-family: "Raleway", sans-serif;
}
